<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>Известные метрики</title>
<style>
body {
background: #003366
}
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif,serif;
font-size: 18px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #AFCDE7;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}
</style>
</head>
<body>
<table>
<tr>
<th>Метрика</th>
<th>Значение</th>
</tr>
{{range .}}
<tr>
<td>{{.Name}}</td><td>{{.Value}}</td>
</tr>
{{end}}
</table>
</body>
</html>